rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /publishedPlayers/{kioskId} {
      allow get: if true;
      allow list: if false;
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
