rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ATENÇÃO: Esta regra permite acesso aberto para fins de desenvolvimento.
    // Ela é necessária para que o aplicativo possa criar os dados iniciais.
    // NUNCA use esta regra em um ambiente de produção real sem adicionar
    // lógicas de autenticação (ex: allow read, write: if request.auth != null;).
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
